.git
.vscode
node_modules
dashboard_backend/node_modules
dashboard_frontend/node_modules
camera_backend/__pycache__
pi-API/__pycache__
**/.env
**/.venv
**/venv
**/dist
**/coverage
**/__pycache__
camera_backend/captures
camera_backend/videos
Documentation
